{% extends 'base.html' %}
{% block title %}
<title>Analysis</title>
{% endblock %}
{% block main %}
<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg">
    <div class="p-6 text-4xl font-bold">
      <h1>Analisis</h1>
    </div>
    <form id="analysisForm" class="flex" action="/analysis" method="post" enctype="multipart/form-data">
      <div class="flex-auto p-6">
        <label for="document" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Masukkan tweet/komentar disini !</label>
        <textarea id="document" name="document" rows="10" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Saya sangat tidak suka dengan ..."></textarea>
      </div>
      <div class="flex-initial w-72 p-10 content-end relative">
        <input type="file" class="mt-4 mb-4" name="file" id="file" accept=".csv">
        <button type="submit" id="submitBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
        {% if error %}
          <div class="mb-4 text-red-500">
          {{ error }}
          </div>
        {% endif %}
      </div>
    </form>
  </div>
</div>

<script>
  // Show SweetAlert loading animation when the form is submitted
  $('#submitBtn').click(function () {
    Swal.fire({
      title: 'Loading...',
      allowEscapeKey: false,
      allowOutsideClick: true,
      showConfirmButton: false,
      allowOutsideClick: false,
      onOpen: () => {
        Swal.showLoading();
      }
    });
  });
</script>

{% endblock %}
