{% extends 'base.html' %}
{% block title %}
<title>Hasil Analisis</title>
{% endblock %}
{% block main %}
<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg pb-8">
        <div class="flex items-end">
            <div class="p-6 text-4xl font-bold">
                <h1>Hasil Analisis</h1>
            </div>
            <a href="{{ url_for('static', filename='csv/result.csv') }}" download>
                <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold my-5 py-2 px-4 rounded">Export</button>
            </a>
        </div>
        <!-- show plot.png -->
        <div class="flex justify-center">
            <img src="{{ url_for('static', filename='img/plot.png') }}" alt="plot" width="850">
        </div>
        <div class="flex pl-10 justify-center border-4 mx-32 rounded-2xl border-red-400 bg-red-50">
            <!-- add warning icon -->
            <div class="pr-2">
                <img src="{{ url_for('static', filename='img/warning.png') }}" alt="warning" width="100">
            </div>
            <div class="mt-3 font-semibold">
                <p><b>{{ cluster_negative }}</b> memiliki sentimen negatif paling banyak dengan persentase {{ persentase_negative }}% dari seluruh data.</p>
                <p>Sedangkan <b>{{ cluster_positive }}</b> memiliki sentimen positif terbanyak dengan persentase {{ persentase_positive }}% dari seluruh data.</p>
                <p>Untuk melihat hasil lebih detail silakan download hasil dengan menekan tombol <b>Export</b>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}