{% extends 'base.html' %}
{% block title %}
<title>Riwayat</title>
{% endblock %}
{% block main %}
<div class="max-w-7xl overflow-hidden mx-auto sm:px-6 lg:px-8">
  <div class="bg-white dark:bg-gray-800 shadow-sm sm:rounded-lg">
    <div class="p-6 text-4xl font-bold">
      <h1>Riwayat Analisis</h1>
    </div>
    {% if history %}
    <div class="flex items-center pb-10">
      <div class="relative overflow-y-auto shadow-md m-3 h-96">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="text-xs text-center text-gray-700 uppercase bg-gray-200"
            style="position: sticky; top: 0; z-index: 1;">
            <tr>
              <th scope="col" class="px-6 py-3">
                No
              </th>
              <th scope="col" class="px-6 py-3">
                Tanggal
              </th>
              <th scope="col" class="px-6 py-3">
                Data
              </th>
              <th scope="col" class="px-6 py-3">
                ILC
              </th>
              <th scope="col" class="px-6 py-3">
                Kick Andy
              </th>
              <th scope="col" class="px-6 py-3">
                Hitam Putih
              </th>
              <th scope="col" class="px-6 py-3">
                Mata Najwa
              </th>
            </tr>
          </thead>
          <tbody>
            {% for data in history %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ loop.index }}
              </th>
              <th scope="row" class="font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ data.created_at }}
              </th>
              <td class="px-6 py-4 text-center">
                {{ data.data }}
              </td>
              <td class="px-6 py-4">
                {{ data.aspek_0 }}
              </td>
              <td class="px-6 py-4">
                {{ data.aspek_1 }}
              </td>
              <td class="px-6 py-4">
                {{ data.aspek_2 }}
              </td>
              <td class="px-6 py-4">
                {{ data.aspek_3 }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div class="flex items-center justify-center h-96">
      <p class="text-2xl font-semibold text-gray-500">Tidak ada data</p>
    </div>
    {% endif %}

    {% if error %}
    <div class="mb-4 text-red-500">
      {{ error }}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}